.styled-checkbox {
  position: absolute;
  opacity: 0;
  display: none;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.7);
  font-weight: bold;
  padding: 0;
  /* box-shadow: 1px 1px 40px rgba(22, 23, 31, 0.7); */
  border-radius: 4px;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.2); */
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 4px;
}
/* .styled-checkbox:hover + label:before {
  background: #00b2d6;
} */
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #00b2d6;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white,
    4px -8px 0 white;
  transform: rotate(45deg);
}

/* ========================================================== */

.styled-checkbox2 {
  position: absolute;
  opacity: 0;
  display: none;
}
.styled-checkbox2 + label {
  margin-top: 8px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  /* box-shadow: 1px 1px 40px rgba(22, 23, 31, 0.7); */
  border-radius: 4px;
  color: black;
  /* background-color: rgba(0, 0, 0, 0.2); */
}
.styled-checkbox2 + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: silver;
  border-radius: 4px;
}
/* .styled-checkbox:hover + label:before {
  background: #00b2d6;
} */
.styled-checkbox2:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox2:checked + label:before {
  background: #00b2d6;
}
.styled-checkbox2:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox2:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white,
    4px -8px 0 white;
  transform: rotate(45deg);
}

/* ============================================== */
/* ========================================================== */

.styled-checkbox3 {
  position: absolute;
  opacity: 0;
  display: none;
}
.styled-checkbox3 + label {
  margin-top: 8px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  /* box-shadow: 1px 1px 40px rgba(22, 23, 31, 0.7); */
  border-radius: 4px;
  color: black;
  /* background-color: rgba(0, 0, 0, 0.2); */
}
.styled-checkbox3 + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: silver;
  border-radius: 4px;
}
/* .styled-checkbox:hover + label:before {
  background: #00b2d6;
} */
.styled-checkbox3:focus + label:before {
  /* box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); */
}
.styled-checkbox3:checked + label:before {
  background: #00b2d6;
}
.styled-checkbox3:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox3:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white,
    4px -8px 0 white;
  transform: rotate(45deg);
}
